@font-face{
	font-family: "Toren Rotalic";
	src: url(Toren-Rotalic.otf);
}
@font-face{
	font-family: "WonderType";
	src: url(WonderType-Regular.otf);
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 100px;;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	//border: 0.5px solid cyan; 
}

.container {
	position: relative;
	height: 129mm;

}

.page {
    width: 186mm;
    min-height: 129mm;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
span {
    letter-spacing: -4px;
    font-size: 1.2em;
}
h1 {
	position: relative;
	left: 70mm;
	top:10mm;
	font-size: 5.3em;
	font-family: "WonderType";
	transform: rotate(10deg);
	color: white;
	mix-blend-mode: multiply;
	text-shadow: -10px -10px 0 #000, 10px -10px 0 #000, -10px 10px 0 #000, 10px 10px 0 #000;
}	

        
h3 {
	position: relative;
	top: -7mm;
	font-family: "Toren Rotalic";
	font-size: 2em;
	line-height: 1.5em;
	padding-left: 62mm;
	text-indent: -60mm;
        }
h4{
	top: 7mm;
	left: 10mm;
	font-family: "Toren Rotalic";
 	
	line-height: 0.6em;
	letter-spacing: 1mm;
	transform: rotate(-15deg);
	padding: 2mm;
	font-size: 2em;
	position: absolute;
	background-color:#FF77FF;
	color:white;
	border-radius: 2mm;
}
ul{
	display: block;
	background-color:grey;
}

li {
	font-family: "WonderType";
	font-size:2em;
	list-style-type: none;
	text-decoration: none;
	border: 2px solid black;
	border-radius: 50% 50% 50% 50%;
	padding: 4px;
	background-color: black;
	color: white;
	mix-blend-mode: darken;
}

.backgr{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	font-size: 3mm;
	width: 186mm;
	height:129mm;
	word-wrap: break-word;
	z-index: 0;
	overflow: hidden;
	background-image: url("computer_hall2.jpeg") ;
	background-size:200%;
	background-position: center;
}

.background {
	position: absolute;
	word-wrap: break-word;
	width:100%;
	display: block;
	background-color: #FFF;
	opacity: 0.5;
	color: rgba(250, 0, 250, 0.8);
}

.footer {
	position: absolute;
	bottom:0mm;
	left: 0;
	width: 100%;
	height: 8mm;
	font-size: 1.4em;
	font-family: monospace;
	background-color:#FF77FF;
	color: white;
}

.footer p {
	
	padding-bottom: 2mm;
}

.footer span {
	background-color:black;
	letter-spacing: 0;
	font-size: 1em;
}

@media print {
	html, body {
		width: 100%;
		height: 100%;
		padding: 0;
	}

	@page {
		size: 186mm 129mm;
    	margin: 0;
		overflow: hidden;
	}
	
	.page {

		margin: 0;
		border: initial;
		border-radius: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
		overflow:hidden;
	}    
}

